
.grid {

    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 50px 100px 100px 20px 100px;
    grid-template-rows: auto auto auto auto auto;

}

.leftSide {

    background-color:lightblue;

}

.rightSide {

    background-color:lightblue;

}

.rightSideLabel {

    background-color: lavender;
    text-align: right;
    grid-column: 10px 20px;

}

.button {
    
    margin: 25px 10px;
    background-color: floralwhite;

}

.body {

    background-color: honeydew;

}

.correctAnswer {

    background-color:lightgreen;

}

.wrongAnswer {

    background-color:lightsalmon;
}
